.content-header > .nav .nav-item.acciones {
    width: 100%;
    float: right;
}

.content-header > .nav .nav-item.acciones a {
    float: right;
}

.select2 {
    text-transform: lowercase;
}

.row .form-group {
    text-align: center;
}

.row a.btn {
    width: 100%;
}

.row > .col-lg-12 > img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#btnCancelarPagos{
    color: gray;
    opacity: 0.4;
}