.col-xs-6 {
    float: left;
    width: 50%;
}

.offset-xs-1 {
    margin-left: 8.333333%;
}
.row [class*="col-"] {
    padding-left: 12px;
    padding-right: 12px;
}

.col-xs-5 {
    float: left;
    width: 41.666667%;
}
.text-muted {
    color: inherit !important;
    opacity: 0.6;
}
.navbar-brand img, .navbar-brand svg {
    height: 10px;
    vertical-align: -4px;
    display: inline-block;
}