RewriteEngine on

RewriteBase /cryptowallet/www
RewriteCond %{REQUEST_URI} !^/cryptowallet/api/
RewriteCond %{REQUEST_URI} !^/cryptowallet/www/
# Rewrite all those to insert /www
RewriteRule ^(.*)$ www/$1 [L]

RewriteBase /cryptowallet/

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteRule api\/(.[^\/]*)\/(.[^\/?]*)[?]?(.[^\/]*)?$ api/index?controller=$1&action=$2&%{QUERY_STRING} [NC,L]