RewriteEngine on

#RewriteCond %{HTTP_HOST} ^gcachuo.ml$
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} cryptowallet
RewriteBase /cryptowallet/
RewriteRule new/(.*) $1 [NC,L]

RewriteBase /

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteRule api\/(.[^\/]*)\/(.[^\/?]*)[?]?(.[^\/]*)?$ api/index?controller=$1&action=$2&%{QUERY_STRING} [NC,L]