body {
  background-color: rgba(0, 0, 0, 0.1) !important;
  overflow: hidden;
}

body > header.navbar {
  display: none;
  border-bottom: 1px black solid;
  box-shadow: 0 1px 10px grey;
  border-radius: 0 0 10px 10px;
  background-color: white;
  z-index: 1;
}

.app {
  overflow: auto;
  height: calc(100vh - 55px);
}

.loading {
  display: none;
}