html {
  body {
    #aside .navside {
      float: left;
      height: 100vh;
      width: 215px;
    }

    .app-header .navbar {
      display: flex;
      align-items: center;

      a.navbar-item {
        margin-right: 0px;
      }

      .navbar-nav .nav-item a.nav-link {
        display: flex;
        align-items: center;
        width: 135px;
        justify-content: space-between;
      }
    }
  }
}
